@using System.Security.Claims
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                @if (context.User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value == "ADMIN")
                 {
                      <div class="nav-item px-3">
                         <NavLink class="nav-link" href="register">
                             <span class="oi oi-list-rich" aria-hidden="true"></span> Zarejestruj uzytkownika
                         </NavLink>
                     </div>
                 } else if (context.User.Claims.Where(c => c.Type == ClaimTypes.Role).FirstOrDefault().Value == "USER") {
                         
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="konto">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Twoje konto
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="przelew">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Dokonaj przelew
                        </NavLink>
                    </div>
                     <div class="nav-item px-3">
                         <NavLink class="nav-link" href="history">
                             <span class="oi oi-list-rich" aria-hidden="true"></span> Historia
                         </NavLink>
                     </div>
                     <div class="nav-item px-3">
                         <NavLink class="nav-link" href="changepassword">
                             <span class="oi oi-list-rich" aria-hidden="true"></span> Zmień password
                         </NavLink>
                     </div>
                 }
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="Logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Wyloguj
                    </NavLink>
                </div>

            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Zaloguj
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
     
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/Login");
    }

}