@page "/Register"

<h3>Zarejestruj użytkownika</h3>

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (!registerSucces)
{
    <div>
        <EditForm Model="userRegisterDTO" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <p>Nazwa użytkownika:</p>
            <InputText @bind-Value="userRegisterDTO.Username" id="username" class="form-control"></InputText>
            <p>Hasło:</p>
            <InputText @bind-Value="userRegisterDTO.Password" id="password" type="password" class="form-control"></InputText>
            <p>Podwiedz Hasło:</p>
            <InputText @bind-Value="userRegisterDTO.ConfirmPassword" id="confirmPassword" type="password" class="form-control"></InputText>
            <p>Email:</p>
            <InputText @bind-Value="userRegisterDTO.Email" id="email" class="form-control"></InputText>
            <p>Numer telefonu:</p>
            <InputText @bind-Value="userRegisterDTO.PhoneNumber" id="phonenumber" class="form-control"></InputText>
            <p>Pesel:</p>
            <InputText @bind-Value="userRegisterDTO.Pesel" id="pesel" class="form-control"></InputText>
            <br/>
            <button type="submit" class="btn btn-primary w-100 my-4 mb-2">Zarejestruj użytkownika</button>



        </EditForm>

        @if (logging)
        {
            <div class="loader"></div>
        }
        @if (!string.IsNullOrEmpty(message))
        {
            <p>@message</p>
        }
    </div>
}
else
{
    <h3>Pomyślna rejestracja</h3>
    <button class="btn btn-primary w-100 my-4 mb-2" @onclick=NewRegistration>Zarejestruj nowego użytkownika</button>
    <table class="table">
        <thead>
        <tr>
            <th>Login</th>
            <th>Numer rachunku bankowego</th>
        </tr>

        </thead>
        <tbody>
        
        <tr>
            <td>@registerRespondDto.login</td>
            <td>@registerRespondDto.accountNumber</td>
        </tr>
        

        </tbody>
    

    </table>
}
@code {
    UserRegisterDTO userRegisterDTO = new UserRegisterDTO();
    private bool logging = false;
    string message = string.Empty;
    private bool registerSucces = false;
    private RegisterRespondDto registerRespondDto = new RegisterRespondDto();
    private void NewRegistration()
    {
        registerSucces = false;
    }
    async Task HandleRegistration()
    {
        logging = true;
        message = string.Empty;
        var result = await AuthService.Register(userRegisterDTO);
        if (result.Success)
        {
            userRegisterDTO = new UserRegisterDTO();
            registerSucces = true;
        }
        else
        {
            message ="Rejestracja się nie powiodła";
        }
        logging = false;
    }


}

