@page "/konto"

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@using System.Security.Claims;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>Konto jestes zalogowany</h3>

@code {

}
